In [7]:
import pandas as pd

In [8]:
import os
os.getcwd()
# capiamo da quale cartella stiamo lavorando

'c:\\Users\\peppe\\OneDrive\\Desktop\\PythonProjects\\datasets\\titanic dataset'

In [9]:
df = pd.read_csv('titanic.csv')
# leggiamo il file csv
print(df.head())
print(df.info())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

In [15]:
df['HasCabin'] = df['Cabin'].notna().astype(int)
# aggiungiamo una colonna che indica se la cabina è presente o meno
print(df[["Cabin", "HasCabin"]].head(10))

  Cabin  HasCabin
0   NaN         0
1   NaN         0
2   NaN         0
3   NaN         0
4   NaN         0
5   NaN         0
6   NaN         0
7   NaN         0
8   NaN         0
9   NaN         0

In [13]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'HasCabin'],
      dtype='object')

In [ ]:
df["Age"].isna().sum()
# contiamo i valori mancanti nella colonna Age

np.int64(86)

In [ ]:
df["Age"].median()
# calcoliamo la mediana della colonna Age

np.float64(27.0)

In [ ]:
df["Age"] = df["Age"].fillna(27)
# sostituiamo i valori mancanti con la mediana

In [ ]:
df['Age'].isna().sum()
# verifichiamo che non ci siano più valori mancanti

np.int64(0)

In [21]:
def fascia_eta(eta):
    if eta < 18:
        return "minorenne"
    elif eta < 30:
        return "giovane"
    elif eta < 50:
        return "adulto"
    else:
        return "senior"

df["FasciaEta"] = df["Age"].apply(fascia_eta)
# aggiungiamo una colonna con la fascia d'età

In [23]:
print(df[["Age", "FasciaEta"]].head(10))
# mostriamo le prime 10 righe delle colonne Age e FasciaEta

    Age  FasciaEta
0  34.5     adulto
1  47.0     adulto
2  62.0     senior
3  27.0    giovane
4  22.0    giovane
5  14.0  minorenne
6  30.0     adulto
7  26.0    giovane
8  18.0    giovane
9  21.0    giovane

In [25]:
print(df["FasciaEta"].value_counts())
# contiamo quante persone ci sono in ogni fascia d'età

FasciaEta
giovane      230
adulto       111
minorenne     41
senior        36
Name: count, dtype: int64

In [26]:
df.to_csv("titanic_clean.csv", index=False)
# salviamo il dataframe pulito in un nuovo file csv

In [28]:
print(pd.crosstab(df["Pclass"], df["HasCabin"]))
# creiamo una tabella di contingenza tra Pclass e HasCabin

HasCabin    0   1
Pclass
1          27  80
2          86   7
3         214   4

In [29]:
print(pd.crosstab(df["Pclass"], df["HasCabin"], normalize="index") * 100)
# calcoliamo le percentuali nella tabella di contingenza

HasCabin          0          1
Pclass
1         25.233645  74.766355
2         92.473118   7.526882
3         98.165138   1.834862

In [31]:
df.groupby("HasCabin")["Age"].mean()
# calcoliamo l'età media in base alla presenza della cabina

HasCabin
0    27.064220
1    38.708791
Name: Age, dtype: float64

In [32]:
df.groupby("HasCabin")["Age"].median()
# calcoliamo la mediana dell'età in base alla presenza della cabina

HasCabin
0    27.0
1    37.0
Name: Age, dtype: float64

In [33]:
df["FarePerPersona"] = df["Fare"] / (df["SibSp"] + df["Parch"] + 1)
# aggiungiamo una colonna con la tariffa per persona
print(df[["Fare", "SibSp", "Parch", "FarePerPersona"]].head(10))

      Fare  SibSp  Parch  FarePerPersona
0   7.8292      0      0        7.829200
1   7.0000      1      0        3.500000
2   9.6875      0      0        9.687500
3   8.6625      0      0        8.662500
4  12.2875      1      1        4.095833
5   9.2250      0      0        9.225000
6   7.6292      0      0        7.629200
7  29.0000      1      1        9.666667
8   7.2292      0      0        7.229200
9  24.1500      2      0        8.050000

In [35]:
print(df.groupby("HasCabin")["FarePerPersona"].median())
# calcoliamo la mediana della tariffa per persona in base alla presenza della cabina

HasCabin
0     7.88335
1    30.98960
Name: FarePerPersona, dtype: float64

In [38]:
(pd.crosstab(
    index=[df["FasciaEta"], df["Pclass"]],
    columns=df["Survived"]
))
# creiamo una tabella di contingenza tra FasciaEta, Pclass e Survived

Survived            0   1
FasciaEta Pclass
adulto    1        27  20
          2        22   7
          3        22  13
giovane   1        14  15
          2        32  16
          3       105  48
minorenne 1         3   0
          2         4   6
          3        17  11
senior    1        13  15
          2         5   1
          3         2   0

In [40]:
print(pd.crosstab(
    index=[df["FasciaEta"], df["Pclass"]],
    columns=df["Survived"],
    normalize="index"
) * 100)
# calcoliamo le percentuali nella tabella di contingenza tra FasciaEta, Pclass e Survived

Survived                   0          1
FasciaEta Pclass
adulto    1        57.446809  42.553191
          2        75.862069  24.137931
          3        62.857143  37.142857
giovane   1        48.275862  51.724138
          2        66.666667  33.333333
          3        68.627451  31.372549
minorenne 1       100.000000   0.000000
          2        40.000000  60.000000
          3        60.714286  39.285714
senior    1        46.428571  53.571429
          2        83.333333  16.666667
          3       100.000000   0.000000

In [42]:
df[(df["FasciaEta"] == "minorenne") & (df["Pclass"] == 1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,FasciaEta,FarePerPersona
64,956,0,1,"Ryerson, Master. John Borie",male,13.0,2,2,PC 17608,262.375,B57 B59 B63 B66,C,1,minorenne,52.475000
196,1088,0,1,"Spedden, Master. Robert Douglas",male,6.0,0,2,16966,134.500,E34,C,1,minorenne,44.833333
403,1295,0,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.100,NaN,S,0,minorenne,47.100000

In [43]:
n_table = pd.crosstab(
    index=[df["FasciaEta"], df["Pclass"]],
    columns="N"
)
print(n_table)
# ragruppa la classe in base a FasciaEta e Pclass e conta il numero di occorrenze in ogni gruppo

col_0               N
FasciaEta Pclass
adulto    1        47
          2        29
          3        35
giovane   1        29
          2        48
          3       153
minorenne 1         3
          2        10
          3        28
senior    1        28
          2         6
          3         2

In [ ]:
perc_table = pd.crosstab(
    index=[df["FasciaEta"], df["Pclass"]],
    columns=df["Survived"],
    normalize="index"
) * 100
# calcoliamo le percentuali nella tabella di contingenza tra FasciaEta, Pclass e Survived

In [45]:
final_table = n_table.join(perc_table)
print(final_table)
# uniamo le due tabelle per avere il numero e le percentuali in un'unica tabella

                    N           0          1
FasciaEta Pclass
adulto    1        47   57.446809  42.553191
          2        29   75.862069  24.137931
          3        35   62.857143  37.142857
giovane   1        29   48.275862  51.724138
          2        48   66.666667  33.333333
          3       153   68.627451  31.372549
minorenne 1         3  100.000000   0.000000
          2        10   40.000000  60.000000
          3        28   60.714286  39.285714
senior    1        28   46.428571  53.571429
          2         6   83.333333  16.666667
          3         2  100.000000   0.000000

In [46]:
df.to_csv("titanic_clean.csv", index=False)
 # salviamo il dataframe pulito in un nuovo file csv